<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title> <%= name %> </title>

        <link rel="stylesheet" type="text/css" href="/styles/home.css">
        <link rel="stylesheet" type="text/css" href="/styles/globals.css">
        <link rel="stylesheet" type="text/css" href="/styles/scrollbar.css">

        <script src="/scripts/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" src="/scripts/home.js"></script>
    </head>

    <body>
        <div id="main-wrapper">
            <div id="header-and-main-content">
                <header>
                    <div class="header-wrapper" id="header-pfp-wrapper">
                        <button onclick="scrollToId('mini-bio')" id="header-pfp-button">
                        </button>
                    </div>
                    
                    <div class="header-wrapper" id="central-header-wrapper">
                        <nav id="header-nav">
                            <button onclick="scrollToId('projects-display')" class="link-button"> 
                                <span class="text">
                                    Projects
                                </span>
                            </button>
                            <button onclick="scrollToId('main-bio')" class="link-button"> 
                                <span class="text">
                                    Bio
                                </span>
                            </button>
                            <button onclick="scrollToId('contact')" class="link-button"> 
                                <span class="text">
                                    Contact
                                </span>
                            </button>
                        </nav>
                    </div>
                    
                    <div class="header-wrapper" id="navigation-button-wrapper">
                        <button id="navigation-button">
                            <div id="navigation-button-line1"></div>
                            <div id="navigation-button-line2"></div>
                        </button>
                    </div>

                        
                </header>

                <div id="main-content">
                    <section id="mini-bio" class="main-section">
                        <img src="/images/pfp.png" alt="PFP">
                        <h1><%= name %></h1>
                        <div class="paragraph-wrapper">
                            <p>
                                <%= miniBio %>
                            </p>
                        </div>

                        <div class="paragraph-wrapper">
                            <blockquote>
                                <p class="quote">
                                    <%= quote.content %>
                                </p>
                                <p class="quote">
                                    <%= quote.source %>
                                </p>
                            </blockquote>
                            
                        </div>
                            
                        <nav id="inner-nav">
                            <button onclick="scrollToId('projects-display')" class="link-button"> 
                                <span class="text">
                                    Projects
                                </span>
                            </button>
                            <button onclick="scrollToId('main-bio')" class="link-button"> 
                                <span class="text">
                                    Bio
                                </span>
                            </button>
                            <button onclick="scrollToId('contact')" class="link-button"> 
                                <span class="text">
                                    Contact
                                </span>
                            </button>
                        </nav>
                    </section>

                    <section id="projects-display" class="main-section">
                        <div id="projects-header" class="paragraph-wrapper">
                            <h2> Projects </h2>
                        </div>
                        <div id="projects-wrapper">
                            <div class="project-wrapper">
                                <div class="project">Project 1</div>
                            </div>

                            <div class="project-wrapper">
                                <div class="project">Project 2</div>
                            </div>

                            <div class="project-wrapper">
                                <div class="project">Project 3</div>
                            </div>

                            <div class="project-wrapper">
                                <div class="project">Project 4</div>
                            </div>
                        </div>
                        
                        <div class="tools-list-wrapper">
                            <h2> Languages </h2>
                            <div class="tools-list">
                                <% for (let i of languages) { %>
                                    <img class="tool-wrapper" src="/images/<%= i %>.png" alt="<%= i %>" title="<%= i %>">
                                <% } %>
                            </div>
                        </div>

                        <div class="tools-list-wrapper">
                            <h2> Tools </h2>
                            <div class="tools-list">
                                <% for (let i of tools) { %>
                                    <img class="tool-wrapper" src="/images/<%= i %>.png" alt="<%= i %>" title="<%= i %>">
                                <% } %>
                            </div>
                        </div>

                    </section>

                    <section id="main-bio" class="main-section">
                        <div class="paragraph-wrapper">
                            <h2> About Me </h2>
                            <div id="main-bio-inner-wrapper">
                                <% for (let i of bio) { %>
                                    <p> <%= i %> </p>  
                                <% } %>
                            </div>
                        </div>

                        
                    </section>

                    <section id="contact" class="main-section">
                        <div id="outer-contact-wrapper">
                            <div class="paragraph-wrapper"> 
                                <h2> Contact </h2>

                                <div id="contact-wrapper">
                                    <a class="contact-anchor" href="mailto:malakai.8bit@outlook.com" target="_blank">
                                        <button class="link-button"> 
                                            <span class="text">
                                                malakai.8bit@outlook
                                            </span>
                                        </button>
                                    </a>
                                    
                                    <a class="contact-anchor" href="https://github.com/Shaylin-8bit" target="_blank">
                                        <button class="link-button"> 
                                            <span class="text">
                                                Github - Shaylin-8bit
                                            </span>
                                        </button>
                                    </a>

                                    <a class="contact-anchor" href="https://linkedin.com/in/malakai-c/" target="_blank">
                                        <button class="link-button"> 
                                            <span class="text">
                                                Linkedin - Malakai-C
                                            </span>
                                        </button>
                                    </a>
                                    
                                    <a class="contact-anchor" href="https://replit.com/@ShaylinTRK" target="_blank">
                                        <button class="link-button"> 
                                            <span class="text">
                                                Replit - @ShaylinTRK
                                            </span>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                            
                    </section>
                </div>
            </div>

            <div id="navigation-content">
                <nav>
                    <p>
                        <a href="/admin">Admin</a>
                    </p>
                    <p>
                        <a>Option One</a>
                    </p>
                    <p>
                        <a>Option One</a>
                    </p>
                </nav>
            </div>
        </div>
    </body>    
</html>
